@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  transition: all 0.3s ease-in-out;
}

*.transition-none {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  transition: all none;
}

:root {
  --primary-100: #145F79;
  --primary-200: #376f87;
  --primary-300: #528095;
  --primary-400: #6B91A4;
  --primary-500: #83A3B3;
  --primary-600: #9CB5C1;
  --form-color: #8D8D8D;
  --form-outline: #8D8D8D;
  --background: #FAF0DF;
  --background-100: #FFFFFF;
  --background-card: #FAF0DF;
  --background-card-dark: #FAF0DF;
  --background-contact: #FFF9EF;
  --background-form: #FFFFFF;
  --text-color: #145F79;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body.dark {
  --background: #020405;
  --background-100: #222527;
  --background-card: #393C3E;
  --background-card-dark: #020405;
  --background-contact: #393C3E;
  --background-form: #393C3E;
  --text-color: #FFFFFF;
  --form-color: #ffffff;
  --form-outline: #ffffff;
}

.btn__started {
  background-color: #145F79;
  color: #FFFFFF;
  padding: 9px 16px;
  border-radius: 20px;
  transition: all 0.3s;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
}
.btn__started:hover {
  background-color: #376f87;
}

.section-one h1 {
  color: var(--text-color);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
  position: relative;
}
.section-one h1 svg {
  position: absolute;
  right: 100%;
  top: -5px;
}
.section-one h1 span.bold {
  font-weight: 700;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.menu ul li {
  list-style: none;
  transition: all 1s;
}
.menu ul li a {
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  font-family: "Lato";
}
.menu ul li a:hover {
  text-decoration: underline;
}
.menu ul li a.btn__started {
  color: #FFFFFF;
  padding: 9px 16px;
}
.menu .dropdown-menu {
  display: none;
  z-index: 10;
  position: absolute;
  background: var(--background);
  padding: 12px;
  border-radius: 4px;
}
.menu .dropdown-menu li a {
  color: var(--text-color);
  padding: 6px;
}
.menu .dropdown-menu li a:hover {
  color: #125369;
}
.menu .dropdown-menu.open {
  display: block;
}

button.icon-menu-mobile {
  display: none;
}

.menu-mobile {
  display: none;
}

.submenu-mobile {
  display: none;
}

h2 {
  color: var(--text-color);
  text-align: center;
  font-family: Poppins;
  font-size: 50px;
  width: 55%;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}

header {
  display: flex;
  align-items: center;
  margin: 0 144px;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  padding-top: 10px;
}
header .logo {
  display: flex;
  align-items: center;
}

.section-one {
  min-height: 100vh;
  margin-top: -74px;
  display: flex;
  align-items: center;
  position: relative;
  background: var(--background);
}
.section-one .container {
  z-index: 1;
  max-width: 40%;
  margin-left: 144px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.section-one .container h6 {
  color: var(--text-color);
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  width: 76%;
}
.section-one .bg-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 55%;
}
.section-one svg.puzzle {
  max-width: 763px;
  position: absolute;
  bottom: 0;
  left: -40px;
}

.section-card {
  background: var(--background-100);
  padding: 60px 144px 150px 144px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.section-card .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-wrap: wrap;
}
.section-card .grid-story {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-wrap: wrap;
}
.section-card .grid-story .card {
  display: flex;
  justify-content: space-between;
  height: 500px;
}
.section-card .grid-story .card .content {
  margin-top: 25%;
}
.section-card .grid-story .card .link {
  margin-bottom: 20px;
}
.section-card .grid-story .card:nth-last-child(1) {
  background-image: url(../images/camille-g.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: end;
}
.section-card .grid-story .card-large-story {
  background: var(--background-card);
  border-radius: 20px;
  height: 500px;
  display: flex;
  grid-area: 1/2/2/4;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.section-card .grid-story .card-large-story svg.piece {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 100;
}
.section-card .grid-story .card-large-story .content {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}
.section-card .grid-story .card-large-story .content p {
  color: var(--text-color);
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}
.section-card .grid-story .card-large-story .link {
  text-decoration: none;
  display: flex !important;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 20px;
  gap: 20px;
}
.section-card .grid-story .card-large-story .link .left {
  display: flex;
  flex-direction: column;
  color: #145F79;
}
.section-card .grid-story .card-large-story .link .left p {
  color: #145F79;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}
.section-card .grid-story .card-large-story .link .right {
  display: flex;
  align-items: center;
}
.section-card .grid-story .card-large-story .link .right svg {
  fill: #145F79;
}
.section-card .card-large {
  background: var(--background-card);
  display: flex;
  grid-area: 1/1/2/3;
  height: 500px;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
}
.section-card .card-large .left {
  display: flex;
  position: relative;
  width: 60%;
  margin-left: 75px;
  padding: 42.033px 0px 28.383px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 42.574px;
}
.section-card .card-large .left .trait {
  position: absolute;
  top: 25px;
  left: -25px;
}
.section-card .card-large .left h3 {
  width: 545px;
  color: var(--text-color);
  font-family: "Lato";
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.section-card .card-large .left p {
  color: var(--text-color);
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  width: 92%;
}
.section-card .card-large .right {
  margin-right: 36px;
}
.section-card .card-large .right img {
  width: 80%;
}
.section-card .card {
  background: var(--background-card);
  border-radius: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}
.section-card .card .link {
  text-decoration: none;
  bottom: 50px;
  right: 25px;
  display: flex !important;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 8px;
  background: #fff;
  gap: 20px;
}
.section-card .card .link .left {
  display: flex;
  flex-direction: column;
  color: #145F79;
}
.section-card .card .link .left p {
  color: #145F79;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}
.section-card .card .link .right {
  display: flex;
  align-items: center;
}
.section-card .card .link .right svg {
  fill: #145F79;
  position: initial;
}
.section-card .card svg {
  position: absolute;
  right: 24px;
  top: 24px;
}
.section-card .card .content {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 45%;
}
.section-card .card .content h4 {
  color: var(--text-color);
  font-family: "Poppins";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
}
.section-card .card .content p, .section-card .card .content a {
  color: var(--text-color);
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}
.section-card .card-presta {
  background: var(--background-card);
  border-radius: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* developpement */
  /* ------------------ */
  /* RH */
  /* ------------------ */
  /* Communication */
  /* ------------------ */
  /* Comptabilité */
  /* ------------------ */
  /* Administratif */
  /* ------------------ */
  /* Commercial */
  /* ------------------ */
}
.section-card .card-presta.hidden {
  visibility: hidden;
}
.section-card .card-presta::before {
  content: "";
  position: absolute;
  bottom: 240px;
  left: -210px;
  width: 500px;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  transform: rotate(-90deg);
  color: var(--text-color);
  opacity: 0.38;
}
.section-card .card-presta#webanalyse::before {
  content: "Webanalyse";
}
.section-card .card-presta#comm::before {
  content: "Comm & budget";
}
.section-card .card-presta#seo::before {
  content: "Seo";
}
.section-card .card-presta#sites::before {
  content: "Création de sites";
}
.section-card .card-presta#email::before {
  content: "Email marketing";
}
.section-card .card-presta#competences::before {
  content: "Compétences";
}
.section-card .card-presta#adp::before {
  content: "ADP";
}
.section-card .card-presta#gestionetcontrat::before {
  content: "Gest. des contras";
}
.section-card .card-presta#gestiondessorties::before {
  content: "Gest. des sorties";
}
.section-card .card-presta#gestPaie::before {
  content: "Gest. de la Paie";
}
.section-card .card-presta#relatOrganismes::before {
  content: "Relat. Organismes";
}
.section-card .card-presta#EntObligatoires::before {
  content: "Ent. Obligatoires";
}
.section-card .card-presta#expertise::before {
  content: "Expertise spé.";
}
.section-card .card-presta#creationetinavation::before {
  content: "Créa. et innov.";
}
.section-card .card-presta#collaboration::before {
  content: "Collaboration";
}
.section-card .card-presta#resultats::before {
  content: "RSLT. Mesurables";
}
.section-card .card-presta#stratComm::before {
  content: "STRAT. de Comm.";
}
.section-card .card-presta#creationContenu::before {
  content: "Créa. de contenu";
}
.section-card .card-presta#gestionRS::before {
  content: "Gestion des RS";
}
.section-card .card-presta#relationPubliques::before {
  content: "Relat. Publiques";
}
.section-card .card-presta#approcheIntegree::before {
  content: "Approche intégrée";
}
.section-card .card-presta#rigeur::before {
  content: "Rigueur & précision";
}
.section-card .card-presta#flex::before {
  content: "Flex et Scalabilité";
}
.section-card .card-presta#Saisie::before {
  content: "Saisie Comptable";
}
.section-card .card-presta#RapprochementBancaire::before {
  content: "Rapproch. Bancaire";
}
.section-card .card-presta#Fourniseur::before {
  content: "Factu. Fournisseurs";
}
.section-card .card-presta#Reporting::before {
  content: "Reporting Financier";
}
.section-card .card-presta#gestonAchatFournisseurs::before {
  content: "Gest. Achs & Four.";
}
.section-card .card-presta#gestionCommerciale::before {
  content: "Gest. Commerciale";
}
.section-card .card-presta#gestionJuridiqueContractuelle::before {
  content: "Jurid. & Contract";
}
.section-card .card-presta#gestionAdminGenerale::before {
  content: "Gest. Admin. Génér.";
}
.section-card .card-presta#ProspectionGenerationLeads::before {
  content: "Prosp. & Leads";
}
.section-card .card-presta#RepresentationCommerciale::before {
  content: "Représent. Comm.";
}
.section-card .card-presta#FormationCoachingCommercial::before {
  content: "Form. & Coach.";
}
.section-card .card-presta#SupportVenteComplexe::before {
  content: "Ventes Complexe";
}
.section-card .card-presta#GestionRelationsPartenaires::before {
  content: "Relat. & Partenaires";
}
.section-card .card-presta h4 {
  visibility: hidden;
}
.section-card .card-presta svg {
  position: absolute;
  right: 24px;
  top: 24px;
}
.section-card .card-presta .content {
  width: 70%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-card .card-presta .content li, .section-card .card-presta .content a {
  color: var(--text-color);
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}
.section-card .link-card {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#commercial .card-presta-large {
  grid-column: span 2;
  background: var(--background-card);
  border-radius: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#commercial .card-presta-large.hidden {
  visibility: hidden;
}
#commercial .card-presta-large::before {
  content: "";
  position: absolute;
  bottom: 240px;
  left: -210px;
  width: 500px;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  transform: rotate(-90deg);
  color: var(--text-color);
  opacity: 0.38;
}
#commercial .card-presta-large h4 {
  visibility: hidden;
}
#commercial .card-presta-large svg {
  position: absolute;
  right: 24px;
  top: 24px;
}
#commercial .card-presta-large .content {
  width: 70%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#commercial .card-presta-large .content li, #commercial .card-presta-large .content a {
  color: var(--text-color);
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}
#commercial .card-presta-large#DeveloppementCommercial::before {
  content: "Dévelop. Comm.";
}
#commercial .card-presta-large#GestionAnalysedesDonneesCommerciales::before {
  content: "G&A Données Comm.";
}
#commercial .card-presta-large#FormationCoachingCommercial::before {
  content: "Form. & Coach.";
}
#commercial .card-presta-large#ExpansionInternationale::before {
  content: "Expan. Internat.";
}
#commercial .card-presta-large#GestionAppelsOffres::before {
  content: "Appels d'Offres";
}

.section-three {
  background: var(--background);
  padding: 60px 144px 150px 144px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.section-three h4 {
  color: var(--text-color);
  font-family: "Poppins";
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 57.2px;
  width: 100%;
  text-align: center;
}
.section-three h4 .lighter {
  font-weight: 100;
}
.section-three .container-image {
  display: flex;
  padding: 32px 0;
  align-items: flex-start;
  gap: 32px;
}
.section-three .container-image img:nth-child(odd) {
  margin-top: 80px;
}
.section-three .container-text {
  margin-top: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 160px;
}
.section-three .container-text h5 {
  color: var(--text-color);
  text-align: center;
  font-family: "Poppins";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.section-three .container-text .container-bloc {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}
.section-three .container-text .container-bloc .bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.section-three .container-text .container-bloc .bloc h6 {
  color: var(--text-color);
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.section-three .container-text .container-bloc .bloc p {
  color: var(--text-color);
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.section-infos {
  background: var(--background);
  padding: 100px 144px 100px 144px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 33px;
}
.section-infos .top {
  display: flex;
}
.section-infos .top .text {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.section-infos .top .text h5 {
  color: var(--text-color);
  width: 525px;
  font-family: "Poppins";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.8px;
}
.section-infos .top .text p {
  color: var(--text-color);
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  width: 433px;
}
.section-infos .top .bento {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 33px;
}
.section-infos .top .bento .top {
  display: flex;
  gap: 33px;
}
.section-infos .top .bento .top .contact {
  z-index: 1;
  background: var(--background-contact);
  border-radius: 20px;
  width: 567px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 332px;
  padding: 20px;
  position: relative;
}
.section-infos .top .bento .top .contact .star {
  position: absolute;
  left: 0;
  top: 25px;
}
.section-infos .top .bento .top .contact .round {
  width: 50px;
  height: 50px;
  background-color: #145F79;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: scale(1.2);
  position: absolute;
  top: -25px;
  right: -25px;
}
.section-infos .top .bento .top .contact h6 {
  color: var(--text-color);
  text-align: center;
  font-family: "Poppins";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.8px; /* 176% */
}
.section-infos .top .bento .top .contact p {
  color: var(--text-color);
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  width: 433px;
}
.section-infos .top .bento .top .KPI {
  display: flex;
  width: 210px;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #FFA369;
  border-radius: 20px;
  position: relative;
}
.section-infos .top .bento .top .KPI svg {
  position: absolute;
  right: 20px;
  top: 20px;
}
.section-infos .top .bento .top .KPI h6 {
  color: #FFF;
  text-align: center;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.8px;
}
.section-infos .top .bento .top .KPI h6 span {
  font-size: 60px;
}
.section-infos .top .bento .bottom {
  display: none;
  gap: 33px;
}
.section-infos .top .bento .bottom .KPI {
  height: 188px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #7CD1AA;
  border-radius: 20px;
  position: relative;
}
.section-infos .top .bento .bottom .KPI:nth-child(2) {
  background: #96A7F8;
}
.section-infos .top .bento .bottom .KPI svg {
  position: absolute;
  right: 20px;
  top: 20px;
}
.section-infos .top .bento .bottom .KPI h6 {
  color: #FFF;
  text-align: center;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.8px;
}
.section-infos .top .bento .bottom .KPI h6 span {
  font-size: 60px;
}

.section-form {
  background: var(--background-100);
  padding: 60px 144px 150px 144px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.section-form .container-form {
  height: auto;
  display: flex;
  transition: none;
  padding: 12px;
  max-width: 1000px;
  width: 100%;
  border-radius: 10px;
  background: var(--background-form);
  box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
}
.section-form .container-form .left {
  height: 450px;
  padding: 24px;
  width: 55%;
  border-radius: 10px;
  background: var(--background-card-dark);
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20%;
  color: var(--text-color);
}
.section-form .container-form .left div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-form .container-form .left div .title {
  gap: 8px;
}
.section-form .container-form .left div .title p {
  font-size: 14px;
}
.section-form .container-form .left div .content {
  gap: 20px;
}
.section-form .container-form .left div .content span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.section-form .container-form .left .bottom {
  align-items: center;
}
.section-form .container-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  width: 80%;
  padding: 50px;
  position: relative;
}
.section-form .container-form form div {
  display: flex;
  flex-direction: column;
}
.section-form .container-form form div label {
  color: var(--form-color);
  font-size: 12px;
}
.section-form .container-form form div input,
.section-form .container-form form div textarea {
  border: none;
  height: 40px;
  border-bottom: 1px solid var(--form-outline);
  background: none;
  color: var(--form-color);
}
.section-form .container-form form div input::-moz-placeholder, .section-form .container-form form div textarea::-moz-placeholder {
  color: var(--form-color);
}
.section-form .container-form form div input::placeholder,
.section-form .container-form form div textarea::placeholder {
  color: var(--form-color);
}
.section-form .container-form form div input:focus-visible,
.section-form .container-form form div textarea:focus-visible {
  outline: none;
  border-bottom: 1px solid black;
}
.section-form .container-form form div:nth-child(1) {
  grid-area: 1/1/2/2;
}
.section-form .container-form form div:nth-child(2) {
  grid-area: 1/2/2/3;
}
.section-form .container-form form div:nth-child(3) {
  grid-area: 2/1/3/2;
}
.section-form .container-form form div:nth-child(4) {
  grid-area: 2/2/3/3;
}
.section-form .container-form form div:nth-child(5) {
  grid-area: 3/1/4/3;
}

.footer {
  background: #1D1D1D;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  overflow-y: hidden;
  padding-top: 150px;
  color: #FFF;
}
.footer img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 78px;
  margin-bottom: 68px;
  grid-area: 1/1/2/4;
}
.footer .center .menu {
  display: flex;
}
.footer .copywrite {
  text-align: center;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  grid-area: 3/2/4/3;
}
.footer .rs {
  grid-area: 3/2/4/3;
}
.footer span {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  opacity: 0.5;
  width: 50%;
  grid-area: 2/1/3/4;
  display: flex;
  justify-self: center;
}
.footer .round {
  width: 50px;
  height: 50px;
  background-color: #145F79;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: scale(1.2);
  position: absolute;
  top: 25px;
  right: 25px;
}
.footer .round:hover {
  background-color: #125369;
  cursor: pointer;
}

.mode {
  width: 50px;
  height: 50px;
  background-color: #145F79;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: scale(1.2);
  position: fixed;
  z-index: 100;
  left: 25px;
  bottom: 25px;
  border: none;
  transition: background-color 1s ease;
}
.mode:hover {
  cursor: pointer;
  background-color: #125369;
}
.mode i {
  color: #fff;
}

/*-----Responsive-----*/
@media screen and (min-width: 1500px) {
  .section-card .card-presta,
  .section-card .card,
  .section-card .card-large {
    height: 650px;
  }
}
@media screen and (max-width: 1500px) {
  header {
    margin: 0 60px;
  }
  .section-one h1 {
    font-size: 40px;
  }
  .section-one .container {
    margin-left: 60px;
  }
  .section-card h2 {
    width: 55%;
    font-size: 35px;
  }
  .section-card .card-large .left h3 {
    font-size: 30px;
    width: 400px;
    line-height: 35px;
  }
  .section-infos {
    padding: 60px 60px 150px 60px;
  }
  .section-infos .top {
    gap: 33px;
  }
  .section-infos .top .text h5,
  .section-infos .top .text p {
    width: auto;
  }
  .section-infos .bottom img {
    width: 100%;
  }
  .section-three {
    padding: 60px 60px 150px 60px;
  }
  .section-three .container-image {
    gap: 15px;
  }
  .footer img {
    width: 30%;
  }
}
@media screen and (max-width: 1024px) {
  h1 {
    line-height: 50px;
  }
  .section-card {
    padding: 60px 60px 150px 60px;
  }
  .section-card .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .section-card .grid .card-large {
    grid-area: 1/1/2/2;
  }
  .section-card .grid .card {
    height: 300px;
    justify-content: center;
  }
  .section-card .grid .card .content {
    margin-top: 0;
  }
  .section-card .grid .card-presta.hidden {
    display: none;
  }
  .section-card .grid#grid-dev {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-card .grid-story {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .section-card .grid-story .card {
    display: flex;
    justify-content: end;
    gap: 25%;
  }
  .section-card .grid-story .card .link {
    margin-bottom: 20px;
  }
  .section-card .grid-story .card:nth-last-child(1) {
    min-width: 350px;
  }
  #commercial .card-presta-large {
    grid-column: 1;
  }
  .section-three .container-image {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: 33px;
  }
  .section-three .container-text .container-bloc {
    flex-wrap: wrap;
    padding: 0 60px;
  }
  .section-infos {
    padding: 60px 120px 60px 120px;
  }
  .section-infos .top {
    flex-direction: column;
  }
  .section-infos .top .bento .top {
    flex-direction: column;
  }
  .section-infos .top .bento .top .KPI {
    width: auto;
    height: 188px;
  }
  .section-infos .top .bento .top .contact {
    width: auto;
  }
  .section-form .container-form {
    flex-direction: column-reverse;
    align-items: center;
  }
  .section-form .container-form form {
    height: 400px;
  }
  .section-form .container-form .left {
    height: auto;
    width: 90%;
    gap: 20px;
  }
  .section-form .container-form .left .bottom {
    align-items: start;
  }
  .footer img {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  header .menu ul {
    display: none;
  }
  .section-form .container-form {
    flex-direction: column-reverse;
    align-items: center;
  }
  .section-form .container-form form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    height: auto;
  }
  .section-form .container-form form div:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .section-form .container-form form div:nth-child(2) {
    grid-area: 2/1/3/2;
  }
  .section-form .container-form form div:nth-child(3) {
    grid-area: 3/1/4/2;
  }
  .section-form .container-form form div:nth-child(4) {
    grid-area: 4/1/5/2;
  }
  .section-form .container-form form div:nth-child(5) {
    grid-area: 5/1/6/2;
  }
  .section-form .container-form .left {
    height: auto;
    width: 90%;
    gap: 20px;
  }
  button.icon-menu-mobile {
    display: block;
    z-index: 10;
    background: none;
    border: none;
    position: fixed;
    right: 50px;
    top: 25px;
    transform: scale(1.5);
    color: var(--text-color);
  }
  .menu-mobile {
    display: block;
    position: fixed;
    z-index: 100;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
    right: -100%;
    top: 0;
    transition: right 0.5s ease-in-out;
  }
  .menu-mobile button {
    background: none;
    border: none;
    z-index: 120;
    position: absolute;
    right: 50px;
    top: 25px;
    transform: scale(1.5);
  }
  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  .menu-mobile ul li {
    list-style: none;
  }
  .menu-mobile ul li a:not(.btn__started) {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #125369;
    font-size: 22px;
  }
  .menu-mobile.open {
    right: 0;
    box-shadow: 0 -12px 15px #c5c5c5;
  }
  .submenu-mobile {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    right: -100%;
    width: 80%;
    height: 100%;
    background-color: #FFF;
    display: block;
    transition: right 0.5s ease-in-out;
  }
  .submenu-mobile button {
    background: none;
    border: none;
    z-index: 120;
    position: absolute;
    left: 50px;
    top: 25px;
    transform: scale(1.5);
    color: #125369;
  }
  .submenu-mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
  }
  .submenu-mobile ul li {
    list-style: none;
  }
  .submenu-mobile ul li a:not(.btn__started) {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #125369;
    font-size: 22px;
  }
  .section-card .grid#grid-dev {
    grid-template-columns: 1fr;
  }
  .submenu-mobile.open {
    right: 0;
  }
  .section-one img {
    display: none;
  }
  .section-one .container {
    max-width: 80%;
  }
  .section-card .link-card {
    flex-direction: column;
    width: auto;
  }
  .section-card .card-large-story {
    height: auto;
  }
  .section-card .card-large-story .content p {
    padding-top: 100px;
  }
}
@media screen and (max-width: 450px) {
  .menu-mobile,
  .submenu-mobile {
    width: 100%;
  }
  header {
    margin: 0 15px;
  }
  .section-one svg.puzzle {
    width: 100%;
  }
  .section-one .container {
    max-width: 100%;
    margin: 0 15px;
  }
  .section-one .container h1 {
    font-size: 36px;
    text-align: center;
    line-height: normal;
  }
  .section-one .container h1 svg {
    display: none;
  }
  .section-one .container h6 {
    width: 100%;
  }
  .section-one svg {
    width: 20%;
  }
  .section-card .card-large {
    padding: 25px 0;
    height: auto !important;
  }
  .section-form {
    padding: 60px 60px 150px 60px;
  }
  .section-form .container-form {
    flex-direction: column-reverse;
    align-items: center;
  }
  .section-form .container-form .left {
    height: auto;
    width: 85%;
  }
  .section-card .card svg {
    bottom: 25px !important;
    top: auto;
  }
  .section-card .grid-story .card-large-story {
    height: auto;
    justify-content: space-evenly;
    padding: 10px 0;
  }
  .section-card .grid-story .card-large-story .content {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .section-card .grid-story .card-large-story .content p {
    padding-bottom: 0px !important;
  }
  .section-card .grid-story .card-large-story .piece {
    display: none;
  }
  .section-card .grid-story .card-large-story .link {
    position: relative;
  }
  .section-card .grid-story .piece {
    top: 25px;
  }
  .section-card .grid-story .card:nth-last-child(1) {
    min-width: 350px;
  }
  .section-infos {
    padding: 15px;
  }
  .section-infos .top .text h5 {
    font-size: 35px;
  }
  .section-infos .top .bento .top .contact {
    height: auto;
    gap: 15px;
  }
  .section-infos .top .bento .top .contact .round,
  .section-infos .top .bento .top .contact svg {
    display: none;
  }
  .section-infos .top .bento .top .contact p {
    width: auto;
  }
  .section-infos .top .bento .top .KPI svg {
    display: none;
  }
  .section-infos .top .bento .bottom .KPI svg {
    display: none;
  }
  .section-card {
    padding: 15px 15px 150px 15px;
  }
  .section-card h2 {
    width: auto;
  }
  .section-card .card-large .left {
    width: auto;
    margin-left: 33px;
  }
  .section-card .card-large .left h3 {
    width: auto;
  }
  .section-card .card-large .right {
    display: none;
  }
  .section-three .container-text .container-bloc {
    padding: 0;
  }
  .section-three {
    padding: 15px 15px 150px 15px;
    gap: 0;
  }
  .section-three h4 {
    font-size: 30px;
  }
  .section-three .container-text h5 {
    line-height: 75px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 30px;
  }
  .footer .menu ul {
    flex-direction: column;
  }
  .section-card .card-large-story {
    height: auto;
  }
  .section-card .card-large-story .content p {
    padding-top: 20px;
  }
}
@media screen and (max-width: 375px) {
  .section-one .puzzle {
    width: 100%;
    bottom: -156px;
  }
}
.red > *,
.red {
  color: red !important;
}

.website {
  display: none;
  visibility: hidden;
}/*# sourceMappingURL=style.css.map */